:host {
    font-family: 'F37 Zagma';
    font-weight: 400;
  }
  
  .table-pill {
    padding: 5px 15px;
    border-radius: 25px;
  }
  
  .colorless-pill {
    padding: 5px 15px;
    border-radius: 25px;
    background: #E9E9E9;
    color: #383939;
  }
  
  .table-row {
    height: 70px;
    font-size: 16px;
  }
  
  .pill-red {
    background: #FF3535;
    color: #fff;
  }
  
  .pill-orange {
    background: #FF7F37;
    color: #fff;
  }
  
  .pill-yellow {
    background: #F9D452;
    color: #383939;
  }
  
  .pill-green {
    background: #5f9d61;
    color: #fff;
  }
  
  h2.Defects {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 130%;
    font-weight: 400;
    font-family: 'F37 Zagma';
  }
  
  .user-icon {
    border-radius: 50%;
    font-family: 'F37 Zagma';
    font-style: normal;
    font-weight: 350;
    text-align: center;
    color: #383939 !important;
    background: #E9E9E9;
    line-height: 16px;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px !important;
    width: 47px;
    height: 47px;
  }
  
  .user-icon-container {
    width: 47px;
    height: 47px;
    display: inline-block
  }
  
  .overflow-subject-fade > a {
    color: #383939;
  }
  
  .table-hyperlink:hover {
    color: #383939;
  }
  
  .vertical-table {
    border-collapse: collapse;
    border-spacing: 10px 10px;
  }
  
  .vertical-table-header {
    border: 1px solid #e9e9e9;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  
  .vertical-table-header td {
    padding: 15px;
  }
  
  .table-body {
    border: 1px solid #e9e9e9;
    font-size: 16px;
  }
  
  .table-body tr td {
    padding: 15px;
  }
  
  th{
    padding: 15px;
  }
  
  th:hover{
    cursor: pointer;
  }
  
  .overflow-subject-fade {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    white-space: nowrap;
    max-width: 410px;
  }
  
  .ranking-pill {
    min-width: 170px;
    width: 170px;
  }
  
  .status-pill {
    min-width: 220px;
    width: 220px;
  }
  
  .overflow-date {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
  }
  
  .case-reason {
    line-height: 26px;
    color: #888888;
  }
  
  tr.table-row td {
    vertical-align: top;
  }
  
  .title-row {
    max-width: 650px;
  }
  
  .table-heading-text {
    font-size: 40px;
    line-height: 130%;
    color: #383939;
    margin: 80px 0 40px;
  }
  
  .search-field {
    background: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    padding: 16px 30px;
    font-size: 18px;
  }
  
  .search-field-container {
    margin-bottom: 20px;
  }
  
  .filter-dropdown {
    margin-bottom: 40px;
  }
  
  .combobox-holder {
    display: inline-block;
    width: 50%;
  }
  
  .two-box .combobox-holder:nth-child(1) {
    padding-right: 20px
  }
  
  .two-box .combobox-holder:nth-child(2) {
    padding-left: 20px
  }
  
  .portal-combobox {
    --sds-c-input-color-background: #F5F5F5;
    --sds-c-input-color-border: #F5F5F5;
    --sds-c-input-color-border-focus: #F5F5F5;
    --sds-c-input-color-background-focus: #F5F5F5;
  }
  
  .selected-filters {
    margin-bottom: 20px;
  }
  
  .active-filter:not(:last-child) {
    color: #888888;
    margin: 0px 5px;
  }
  
  .active-filter:last-child {
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .view-switcher {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .horizontal-icon-container {
    display: inline-block;
    padding: 5px 5px 0;
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .horizontal-icon-container div {
    width: 24px;
    height: 3px;
    background: #9f9f9f;
  }
  
  .horizontal-icon-container div {
    margin-bottom: 5px;
  }
  
  .vertical-icon-container {
    display: inline-block;
    padding: 5px 5px 0;
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    vertical-align: middle;
    transform: rotate(90deg);
    margin-left: 10px;
  }
  
  .icon-active div {
    background: #0073FF !important;
  }
  
  .vertical-icon-container div {
    width: 19px;
    height: 3px;
    background: #9f9f9f;
  }
  
  .vertical-icon-container div {
    margin-bottom: 5px;
  }
  
  .load-more-container {
    border: 1px solid #e9e9e9;
  }
  
  .load-more-container td {
    text-align: center;
    padding: 10px 5px;
  }
  
  .load-more {
    color: #383939;
  }
  
  .load-more:hover {
    color: #383939;
    text-decoration: none;
  }
  
  
  .vertical-wrapper {
    border: 1px solid #e9e9e9;
    padding: 15px 20px;
  }
  
  .vertical-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .vertical-wrapper:not(:last-child) {
    margin-bottom: 25px;
  }
  
  .vertical-item {
    flex: 1 1 auto;
  }
  
  .severity-item-vertical {
    max-width: 120px;
  }
  
  .status-item-vertical {
    max-width: 210px;
    min-width: 50px;
    margin-right: 20px;
    flex: 0 1 auto !important;
  }
  
  .case-number-vertical {
    max-width: 100px;
  }
  
  .overflow-subject-fade-vertical {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
  }
  
  .overflow-subject-fade-vertical > a {
    color: #383939;
  }
  
  .overflow-subject-fade-vertical > a:hover {
    color: #383939;
  }
  
  .vertical-item-date {
    color: #888888;
  }
  
  .section-divider {
    margin: 0 15px;
  }